body {
  background-color: #181818;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}

.flexLayout {
  display: flex;
  flex-direction: column;
}

/* Navbar */
.navContainer {
  display: flex;
  background-color: black;
  justify-content: space-between;
  height: 5%;
}

.leftNav img {
  width: 100px;
  height: 50px;
  margin-left: 5px;
}

.rightNav ul {
  display: flex;
  gap: 5px;
}

.rightNav a,
.rightNav ul,
.rightNav li {
  font-size: 15px;
  color: white;
  list-style: none;
  text-decoration: none;
  margin-right: 5px;
}

#redbutton {
  background-color: red;
  padding: 10px 30px 10px 30px;
}

#blackbutton {
  border: 0.5px solid white;
  padding: 10px 30px 10px 30px;
}

/* Main content */

#movieHead h1,
#MovieHead p,
h3 {
  margin-left: 15px;
  font-weight: 100;
}

#movieDescription {
  margin-left: 15px;
  width: 500px;
}

.h3margin {
  margin-top: 5rem;
}
/* Carousel */
.flex,
.flex2,
.flex3 {
  display: flex;
  gap: 10px;
}

.flex div img,
.flex2 div img,
.flex3 div img {
  width: 19rem;
  height: 10rem;
}

.scroller {
  display: flex;
  justify-content: center;
  overflow: auto;
  flex-wrap: nowrap;
  overscroll-behavior-inline: contain;
}

.scroller::-webkit-scrollbar {
  display: none;
}

.flex p,
.flex2 p,
.flex3 p {
  text-align: center;
}
