body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

table,
th,
td {
  padding: 20px;
  border: 1px solid black;
  border-collapse: collapse;
}

pre {
  margin: 0;
}
