.container {
  border: 1px solid black;
  padding: 5px;
  display: flex; /*defaults to row*/
  justify-content: center;
  /* column will take it back to the boxes being stacked */
  /*  */
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

h1 {
  color: red;
  border: 1px solid red;
  padding: 20px;
}
